<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bytruck</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>control.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserdropServlet</display-name>
    <servlet-name>UserdropServlet</servlet-name>
    <servlet-class>control.UserdropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserdropServlet</servlet-name>
    <url-pattern>/userdrop.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusiNumChkServlet</display-name>
    <servlet-name>BusiNumChkServlet</servlet-name>
    <servlet-class>control.BusiNumChkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusiNumChkServlet</servlet-name>
    <url-pattern>/businumchk.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodtruckListServlet</display-name>
    <servlet-name>FoodtruckListServlet</servlet-name>
    <servlet-class>control.FoodtruckListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodtruckListServlet</servlet-name>
    <url-pattern>/foodtrucklist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodtruckDetailServlet</display-name>
    <servlet-name>FoodtruckDetailServlet</servlet-name>
    <servlet-class>control.FoodtruckDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodtruckDetailServlet</servlet-name>
    <url-pattern>/foodtruckdetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodtruckServlet</display-name>
    <servlet-name>DeleteFoodtruckServlet</servlet-name>
    <servlet-class>control.DeleteFoodtruckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodtruckServlet</servlet-name>
    <url-pattern>/deletefoodtruck.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventListServlet</display-name>
    <servlet-name>EventListServlet</servlet-name>
    <servlet-class>control.EventListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventListServlet</servlet-name>
    <url-pattern>/eventlist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventDetailServlet</display-name>
    <servlet-name>EventDetailServlet</servlet-name>
    <servlet-class>control.EventDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDetailServlet</servlet-name>
    <url-pattern>/eventdetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseListServlet</display-name>
    <servlet-name>AdvertiseListServlet</servlet-name>
    <servlet-class>control.AdvertiseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseListServlet</servlet-name>
    <url-pattern>/advertiselist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseDetailServlet</display-name>
    <servlet-name>AdvertiseDetailServlet</servlet-name>
    <servlet-class>control.AdvertiseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseDetailServlet</servlet-name>
    <url-pattern>/advertisedetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfitServlet</display-name>
    <servlet-name>ProfitServlet</servlet-name>
    <servlet-class>control.ProfitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfitServlet</servlet-name>
    <url-pattern>/profit.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>control.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/boardlist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDetailServlet</display-name>
    <servlet-name>BoardDetailServlet</servlet-name>
    <servlet-class>control.BoardDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDetailServlet</servlet-name>
    <url-pattern>/boarddetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardWriteServlet</display-name>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>control.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardwrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteServlet</display-name>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>control.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boarddelete.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardUpdateServlet</display-name>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>control.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CouponSendServlet</display-name>
    <servlet-name>CouponSendServlet</servlet-name>
    <servlet-class>control.CouponSendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponSendServlet</servlet-name>
    <url-pattern>/couponsend.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CouponViewServlet</display-name>
    <servlet-name>CouponViewServlet</servlet-name>
    <servlet-class>control.CouponViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponViewServlet</servlet-name>
    <url-pattern>/couponview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimelineViewServlet</display-name>
    <servlet-name>TimelineViewServlet</servlet-name>
    <servlet-class>control.TimelineViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimelineViewServlet</servlet-name>
    <url-pattern>/timelineview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimelineWriteServlet</display-name>
    <servlet-name>TimelineWriteServlet</servlet-name>
    <servlet-class>control.TimelineWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimelineWriteServlet</servlet-name>
    <url-pattern>/timelinewrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimelineDeleteServlet</display-name>
    <servlet-name>TimelineDeleteServlet</servlet-name>
    <servlet-class>control.TimelineDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimelineDeleteServlet</servlet-name>
    <url-pattern>/timelinedelete.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewListServlet</display-name>
    <servlet-name>ReviewListServlet</servlet-name>
    <servlet-class>control.ReviewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewListServlet</servlet-name>
    <url-pattern>/reviewlist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewWriteServlet</display-name>
    <servlet-name>ReviewWriteServlet</servlet-name>
    <servlet-class>control.ReviewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewWriteServlet</servlet-name>
    <url-pattern>/reviewwrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewDetailServlet</display-name>
    <servlet-name>ReviewDetailServlet</servlet-name>
    <servlet-class>control.ReviewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDetailServlet</servlet-name>
    <url-pattern>/reviewdetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewDeleteServlet</display-name>
    <servlet-name>ReviewDeleteServlet</servlet-name>
    <servlet-class>control.ReviewDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewDeleteServlet</servlet-name>
    <url-pattern>/reviewdelete.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseListServlet</display-name>
    <servlet-name>CourseListServlet</servlet-name>
    <servlet-class>control.CourseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseListServlet</servlet-name>
    <url-pattern>/courselist.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailServlet</display-name>
    <servlet-name>CourseDetailServlet</servlet-name>
    <servlet-class>control.CourseDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailServlet</servlet-name>
    <url-pattern>/coursedetail.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseWriteServlet</display-name>
    <servlet-name>CourseWriteServlet</servlet-name>
    <servlet-class>control.CourseWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseWriteServlet</servlet-name>
    <url-pattern>/coursewrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDeleteServlet</display-name>
    <servlet-name>CourseDeleteServlet</servlet-name>
    <servlet-class>control.CourseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDeleteServlet</servlet-name>
    <url-pattern>/coursedelete.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoViewServlet</display-name>
    <servlet-name>UserInfoViewServlet</servlet-name>
    <servlet-class>control.UserInfoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoViewServlet</servlet-name>
    <url-pattern>/userInfoview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoUpdateServlet</display-name>
    <servlet-name>UserInfoUpdateServlet</servlet-name>
    <servlet-class>control.UserInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoUpdateServlet</servlet-name>
    <url-pattern>/userinfoupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoViewServlet</display-name>
    <servlet-name>ProductInfoViewServlet</servlet-name>
    <servlet-class>control.ProductInfoViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoViewServlet</servlet-name>
    <url-pattern>/productinfoview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoUpdateServlet</display-name>
    <servlet-name>ProductInfoUpdateServlet</servlet-name>
    <servlet-class>control.ProductInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoUpdateServlet</servlet-name>
    <url-pattern>/productinfoupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZzimCourseViewServlet</display-name>
    <servlet-name>ZzimCourseViewServlet</servlet-name>
    <servlet-class>control.ZzimCourseViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZzimCourseViewServlet</servlet-name>
    <url-pattern>/zzimcourseview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyWriteViewServlet</display-name>
    <servlet-name>MyWriteViewServlet</servlet-name>
    <servlet-class>control.MyWriteViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyWriteViewServlet</servlet-name>
    <url-pattern>/mywriteview.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseWriteServlet</display-name>
    <servlet-name>AdvertiseWriteServlet</servlet-name>
    <servlet-class>control.AdvertiseWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseWriteServlet</servlet-name>
    <url-pattern>/advertisewrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseUpdateServlet</display-name>
    <servlet-name>AdvertiseUpdateServlet</servlet-name>
    <servlet-class>control.AdvertiseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseUpdateServlet</servlet-name>
    <url-pattern>/advertiseupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertiseDeleteServlet</display-name>
    <servlet-name>AdvertiseDeleteServlet</servlet-name>
    <servlet-class>control.AdvertiseDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertiseDeleteServlet</servlet-name>
    <url-pattern>/advertisedelete.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseUpdateServlet</display-name>
    <servlet-name>CourseUpdateServlet</servlet-name>
    <servlet-class>control.CourseUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseUpdateServlet</servlet-name>
    <url-pattern>/courseupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodtruckWriteServlet</display-name>
    <servlet-name>FoodtruckWriteServlet</servlet-name>
    <servlet-class>control.FoodtruckWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodtruckWriteServlet</servlet-name>
    <url-pattern>/foodtruckwrite.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodtruckUpdateServlet</display-name>
    <servlet-name>FoodtruckUpdateServlet</servlet-name>
    <servlet-class>control.FoodtruckUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodtruckUpdateServlet</servlet-name>
    <url-pattern>/foodtruckupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewUpdateServlet</display-name>
    <servlet-name>ReviewUpdateServlet</servlet-name>
    <servlet-class>control.ReviewUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewUpdateServlet</servlet-name>
    <url-pattern>/reviewupdate.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DupChkServlet</display-name>
    <servlet-name>DupChkServlet</servlet-name>
    <servlet-class>control.DupChkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DupChkServlet</servlet-name>
    <url-pattern>/dupchk.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DupChekBusiServlet</display-name>
    <servlet-name>DupChekBusiServlet</servlet-name>
    <servlet-class>control.DupChekBusiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DupChekBusiServlet</servlet-name>
    <url-pattern>/dupchekbusi.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupBusiServlet</display-name>
    <servlet-name>SignupBusiServlet</servlet-name>
    <servlet-class>control.SignupBusiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupBusiServlet</servlet-name>
    <url-pattern>/signupbusi.bt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindIdServlet</display-name>
    <servlet-name>FindIdServlet</servlet-name>
    <servlet-class>control.FindIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIdServlet</servlet-name>
    <url-pattern>/findid.bt</url-pattern>
  </servlet-mapping>
</web-app>